@use 'base/mixins' as m;
@use 'base/variables' as v;

.header{
    min-height: 60rem;
    background-image:  linear-gradient(to right, rgba(rgba(0, 0, 0, 0), .5), rgba(rgba(0, 0, 0, 0), .4)) , image-set(url(../img/portada1.avif) 1x, url(../img/portada1.webp) 1x, url(../img/portada1.jpg) 1x);
    background-repeat: no-repeat;
    background-size: auto, 1090px;
    background-position: 0%, 60%;
    
   @include m.tablet{
    background-position: unset;
    background-size: cover;
   }

    &__contenedor{
        
        padding: 5rem 0;
        @include m.contenedor;
        display: flex;
        justify-content: flex-end;
    }

    &__logo{
        width: 5rem;
    }

    &__enlace{
        @include m.enlace;

    }
    &__navegacion{
       display: flex;
       text-align: center;
       align-items: center;
    }
    &__submit{
        @extend .header__enlace
    }

    &__contenido{
      
       margin: 9rem 1rem 0 1rem ;
        @include m.tablet{
            margin: 0 auto 0 27rem;
            width: 60rem;
            padding-top: 10rem;
        }
       
     
    }
    &__boton{
        
        @include m.boton-corto(v.$verde, v.$blanco);
    }

    &__texto{
        font-weight: v.$bold;
        color: v.$blanco;
        text-transform: uppercase;
        @include m.tablet{
           font-size: 3rem;
        }

    }
}   
