@use 'base/mixins' as m;
@use 'base/variables' as v;

.home{
    padding-top: 2rem;

    &__grid{
        @include m.contenedor;
        @include m.tablet{
            @include m.grid(4, 2rem)
        }
        
    }

    &__icono{
        text-align: center;
        // img{
        //     height: 10rem;
        //     margin: auto;
        //     width: auto;
        // }
        i{
            color: v.$negro;
        }
        h3{
            text-transform: uppercase;
           
        }
        p{
            line-height: 3rem;
            color: v.$negro;
        }
    }
}