@use 'base/mixins' as m;
@use 'base/variables' as v;

.bloques{
    @include m.contenedor;
    @include m.tablet{
        margin-top: 5rem;
    }

    &__grid{
    @include m.grid(1, 1rem);
    @include m.desktop{
        @include m.grid(2, 1.5rem)
    }
    }

    &__gridfecha{
        @include m.grid(1, 3rem);

    }
}

.bloque{
    padding: 2rem;
    color: v.$blanco;
    border-radius: 1rem;
    transition-duration: 300ms;
    margin-top: 2rem;
    a{
        @extend .bloque;
        padding: 1rem;
    }
    &:hover{
        transform: scale(1.1);
    }
    &:nth-child(1){
        // #440404
        @include m.bg-gradient(#004386d9);
    }
    &:nth-child(2){
        @include m.bg-gradient(#004386d9);
    }
    &:nth-child(3){
        @include m.bg-gradient(#004386d9);
    }
    &:nth-child(4){
        @include m.bg-gradient(#004386d9);
    }

    &__heading{
        margin: 1rem 0 2rem 0;
        font-size: 4rem;
        }

    &__texto{
        text-transform: uppercase;
        margin: 1rem 0;
        &--cantidad{
            margin-top: 5rem;
            font-weight: v.$black;
            font-size: 6rem;
            text-align: center;
        }

        span{
            font-weight: 900;
        }
    }
}